/* ----------------------------------------------------------------
	Settings
-----------------------------------------------------------------*/

*, *:before, *:after{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden set;
	scroll-behavior: smooth;
}

dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

::selection {
	background: $primary;
	color: $white;
	text-shadow: none;
}

:active, :focus { outline: none !important; }

/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {list-style: none; }
a { text-decoration: none !important;border: none;}
img { max-width: 100%; height: auto;border: none; }