/* ----------------------------------------------------------------
	Variables
-----------------------------------------------------------------*/

//-------------------- Base Colors --------------------//

$primary: #df1c67;
$white: #fff;
$dark: #000;

//-------------------- Fonts-weight --------------------//

// $regular: 400;
// $bold: 700;
// $black: 900;

//------------------------- mep ------------------------//

$margin: 80px;